In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df =  pd.read_csv("E:/Parth/Tech Stack/Data Analyst/Data Cleaning Project/Airbnb data cleaning/airbnb.csv")

In [3]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$844,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$837,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$988,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$546,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,"$1,032",$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
dtypes: float64(9), int64(2), object(14)
memory usage: 19.6+ MB

In [5]:
df.isnull().sum()

id                                    0
NAME                                250
host id                               0
host_identity_verified              289
host name                           406
neighbourhood group                  29
neighbourhood                        16
lat                                   8
long                                  8
country                             532
country code                        131
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   214
price                               247
service fee                         273
minimum nights                      409
number of reviews                   183
last review                       15893
reviews per month                 15879
review rate number                  326
calculated host listings count      319
availability 365                    448
house_rules                       52131
dtype: int64

In [6]:
df.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [7]:
df["host id"].unique().shape[0]

102057

In [8]:
df.drop(['host id'], axis=1)

,id,NAME,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,...,$844,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...
102595,6092990,Best Location near Columbia U,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,...,$837,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...
102596,6093542,"Comfy, bright room in Brooklyn",unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,...,$988,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN
102597,6094094,Big Studio-One Stop from Midtown,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,...,$546,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN
102598,6094647,585 sf Luxury Studio,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,...,"$1,032",$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN

In [9]:
df["host name"].value_counts()

Michael              881
David                764
John                 581
Alex                 546
Sonder (NYC)         516
                    ...
Carly & Sebastian      1
Soph                   1
Anshu                  1
Hayet                  1
Shuhel                 1
Name: host name, Length: 13190, dtype: int64

In [10]:
df.drop(columns = ["country code", "country"], axis = 1, inplace = True)

In [11]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,True,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,False,...,$844,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,True,...,$837,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,True,...,$988,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,True,...,$546,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,False,...,"$1,032",$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN

In [12]:
df.value_counts()

id        NAME                                                host id      host_identity_verified  host name  neighbourhood group  neighbourhood       lat       long       instant_bookable  cancellation_policy  room type        Construction year  price    service fee  minimum nights  number of reviews  last review  reviews per month  review rate number  calculated host listings count  availability 365  house_rules
6057090   Cozy & Zen Manhattan Soho Studio                    37765401458  verified                Yann       Manhattan            SoHo                40.72745  -74.00270  True              flexible             Entire home/apt  2020.0             $1,093   $219         6.0             61.0               6/7/2019     1.27               5.0                 1.0                             105.0             This is a non-smoking building. Absolutely no smoking of any kind is permitted. Please respect that this is a quiet, peaceful building; please keep the volume of voice and television at a reasonable level. No pets, please.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
20318029  Simplicity                                          91966235764  verified                Adriana    Manhattan            Washington Heights  40.85711  -73.93004  False             flexible             Private room     2014.0             $626     $125         2.0             4.0                6/15/2019    1.67               3.0                 2.0                             58.0              No Smoking  No unregistered guest No pets  When it rain or snow please remove shoes at the door                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              2
20333493  NYC NARNIA ROOM Walking Distance to Central Park!   89628730730  unconfirmed             Hajah      Manhattan            East Harlem         40.79709  -73.93586  True              strict               Private room     2012.0             $254     $51          3.0             8.0                4/22/2019    0.85               2.0                 3.0                             95.0              Please be respectful, Thank you !                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
20332941  Modern 3Beds/2bedroom Apartment, 5min TIME SQUARE.  78498987532  verified                Ryan       Manhattan            Hell's Kitchen      40.76457  -73.98766  True              moderate             Entire home/apt  2010.0             $396     $79          1.0             18.0               6/25/2019    1.67               5.0                 2.0                             55.0              No smoking or drug use.  No parties.  No guests other than those specified in your booking. No moving of furniture without asking Turn lights off when not in use No food in rooms, food can be stored in kitchen area Front door stays unlocked until 9pm, after ring doorbell or call host (phone number hidden) or (phone number hidden)) Kitchen not for use Check-out time no later than 11am Host's food is off limits only what is serve and put out for breakfast!                                                                                                                                                                                                                                                   2
20331836  Entire New York Apartment. 2 bedrooms               66117850807  verified                Ley        Manhattan            Upper East Side     40.76938  -73.95212  True              moderate             Entire home/apt  2021.0             $260     $52          2.0             8.0                6/19/2019    1.06               5.0                 3.0                             62.0              Quiet hours are 10 PM to 6 AM.  No smoking, even outside.  No pets.  We already have one.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
14663581  1BR in Luxury Financial District Highrise           13300568196  verified                Michael    Manhattan            Financial District  40.70498  -74.01063  False             flexible             Private room     2015.0             $1,001   $200         3.0             2.0                7/27/2017    0.08               5.0                 1.0                             0.0               My main rule is mutual respect. Please keep all personal items intact as this is my main residence. There's plenty of space for your comfort. If something breaks or doesn't work, please let me know. It may not be valuable, but I'd like to have it fixed for the next guest. Out of respect to the neighbors, no parties please. There are 3 other units in the condo building and they're all working professionals. Please take care of the hardwood floors and the hallway walls. Don't drag bags across the floors or scuff the hallways. Pets and smoking are not allowed. Must have a credit card to put on file in case of damages. Must provide copy of license or passport, as well as names of all guests.     1
14664133  Château Sharif - Cozy Washington Heights Studio     33707316333  unconfirmed             Sharif J.  Manhattan            Washington Heights  40.83286  -73.94135  True              strict               Entire home/apt  2014.0             $1,084   $217         7.0             10.0               12/26/2018   0.42               5.0                 1.0                             0.0               Guest are to be respectful to the other tenants and keep noise levels down. No smoking in the building or the unit.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
14666343  Cozy bedroom in East Williamsburg loft.             2258719152   unconfirmed             Ariel      Brooklyn             Williamsburg        40.71729  -73.94530  True              flexible             Private room     2019.0             $639     $128         3.0             1.0                7/27/2017    0.04               5.0                 1.0                             67.0              No smoking inside the apartment. Please respect the space, and quiet hours 10pm-6am. Love pets, but we cannot allow them in the building. I do ask that you do not leave lights and/or AC unit on all day or while you are not at the apartment to save some electricity. If you use the kitchen, please tidy up after yourself by wiping down counters, putting dishes in the dishwasher, and cleaning any messes with supplies underneath the kitchen sink.                                                                                                                                                                                                                                                                1
14667447  Williamsburg Brooklyn                               29316343127  unconfirmed             Gina       Brooklyn             Williamsburg        40.71949  -73.95827  True              moderate             Entire home/apt  2020.0             $248     $50          3.0             1.0                1/2/2019     0.16               3.0                 1.0                             0.0               No pets and no smoking (including outside near the entrance, as it sometimes blows back into the building). Please remove your shoes when entering (we have sensitive floors :)). Thank you!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
57358028  Room in Queens, NY, near LGA.                       56457739998  verified                Sonia      Queens               East Elmhurst       40.76245  -73.87938  True              strict               Private room     2022.0             $982     $196         1.0             239.0              6/29/2019    8.58               2.0                 2.0                             361.0             1. Please clean-up after yourself in the kitchen and keep the living room tidy. 2. Since we go to work/school, please avoid loud noises after 11pm during weekdays.  3. Important: To ensure everyone's safety, guest will be charged the full fee of changing the door knob if key is lost/stolen                                                                                                                                                                                                                                                                                                                                                                                                                           1
Length: 39551, dtype: int64

In [13]:
df.isna().sum().sort_values()

id                                    0
host id                               0
room type                             0
lat                                   8
long                                  8
neighbourhood                        16
neighbourhood group                  29
cancellation_policy                  76
instant_bookable                    105
number of reviews                   183
Construction year                   214
price                               247
NAME                                250
service fee                         273
host_identity_verified              289
calculated host listings count      319
review rate number                  326
host name                           406
minimum nights                      409
availability 365                    448
reviews per month                 15879
last review                       15893
house_rules                       52131
dtype: int64

In [14]:
dn=df.isnull().sum().sort_values()

In [24]:
df.fillna(0, inplace=True)

In [16]:
dp=df.duplicated()
dp.value_counts()

False    102058
True        541
dtype: int64

In [17]:
#2.0.2 check null
dn=df.isnull().sum().sort_values()

#2.0.3 Check NaN
df.isna().sum().sort_values()

id                                0
calculated host listings count    0
review rate number                0
reviews per month                 0
last review                       0
number of reviews                 0
minimum nights                    0
service fee                       0
price                             0
Construction year                 0
availability 365                  0
room type                         0
instant_bookable                  0
long                              0
lat                               0
neighbourhood                     0
neighbourhood group               0
host name                         0
host_identity_verified            0
host id                           0
NAME                              0
cancellation_policy               0
house_rules                       0
dtype: int64

In [21]:
## Removing $ from service Fee column
#data['service fee']=data['service fee'].str.replace('$','');
df['service fee'] = df['service fee'].str.replace(r'\D','',regex=True)
## Removing $ from service Fee column
df['price'] = df['price'].str.replace(r'\D','',regex=True)
df['price'] = df['price'].str.strip()
#data['price']=data['price'].str.replace('$','');
#data['price'] = data['price'].apply(lambda x: type(x).__name__)

In [25]:
#2.0.4 Mapping coulmns with dtype
convert_dict = {'Construction year': int, 'price': int,
       'service fee': int, 'minimum nights': int, 'review rate number': int,
       'availability 365': int}

#2.0.5 Transforming dtypes
df=df.astype(convert_dict)
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                   int32
price                               int32
service fee                         int32
minimum nights                      int32
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                  int32
calculated host listings count    float64
availability 365                    int32
house_rules                        object
dtype: object